
<article>
  <img [src]="housingLocation?.photo" alt="" class="listing-photo">
  <section class="listing-discription">
    <h2 class="listing-heading">{{housingLocation?.name}}</h2>
    <p class="listing-location">{{housingLocation?.city}},{{housingLocation?.state}}</p>
  </section>
  <section class =" listing-features">
    <h2 class="section-heading">about this housing </h2>
    <ul>
      <li> Units available :{{housingLocation?.availableUnits}}</li>
      <li> wifi : {{housingLocation?.wifi}}</li>
      <li> laundry : {{housingLocation?.laundry}}</li>
    </ul>
  </section>
  <section class =" listing-apply">
    <h2 class="section-heading">apply now to live in this house  </h2>
   <form [formGroup]="applyForm" (submit)="submitApplication()">
    <label for="first-name">first Name</label>
    <input id="first-name" type="text" formControlName="firstName">
    <label for="last-name">last Name</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <button type="submit" class="primary">Apply now</button>
   </form>
    </section>
</article>
